# .env.example

# This is an example file for running the app locally.
# This must be copied into .env file

# Url to the MongoDb database
DB_URL='your-db-url-with-user-and-password'

# Url to the MongoDb test database
DB_URL_TEST='your-db-url-test-with-user-and-password'

#Webapp port
PORT='port-number'

# Passphrase used to generate jwt token 
SUPER_SECRET='your-secret-key'